<html>
    <head>

    </head>
    <body>
        <h1>Home page</h1>
        <p>This is a home page</p>
            <form action="/result" method='post' >
                <input type="number" name="preg" placeholder="Preg" required='required'/>
                <input type="number" name="plas" placeholder="Plas" required='required'/>
                <input type="number" name="pres" placeholder="Pres" required='required'/>
                <input type="number" name="skin" placeholder="Skin" required='required'/>
                <input type="number" name="test" placeholder="Test" required='required'/>
                <input type="number" name="mass" placeholder="Mass" required='required'/>
                <input type="number" name="pedi" placeholder="Pedi" required='required'/>
                <input type="number" name="age" placeholder="Age" required='required'/>               
                
                <button type='submit'>Predict</button>
            
            </form>
    </body>
</html>